<!DOCTYPE html>
<html>

<head>
  <%- include('../partials/head') %>
</head>

<body>
  <div class="container-fluid">
    <p class="lead">
      <strong>Term: </strong>
      <%= term %>
    </p>
  </div>
</body>

</html>
